// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif:'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$primary:#BB3407;
$primary-50:#FAE9E7;
$primary-100:#FECCBB;
$primary-200:#FDAB8F;
$primary-300:#FC8963;
$primary-400:#FC6F40;
$primary-500:#FB551E;
$primary-600:#F04F1A;
$primary-700:#E24815;
$primary-800:#D44211;
$primary-900:#BB3407;